<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns="https://schema.phpunit.de/10.5" bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="cpfcnpj-validation">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
